body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: Arial;
}

#menu {
  position: absolute;
  inset: 0;
  background: linear-gradient(#020617, #020617);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background: #22c55e;
  color: black;
}

button:hover {
  background: #16a34a;
}
